.border-card{
    border: 1px solid #b1b1b1;
    border-radius: 7px;
}




.btn-primary {
    color: #fff;
    background-color: #017ceb;;
    border-color: #017ceb;;
    width: 100%;
}

.sub-title{
    font-weight: 500;
    color: #555556;
}

.title-cadastro{
    font-weight: 600;
    background-color: #95cace;
    color: white;
    border-radius: 5px 5px 0px 0px;
    font-size: 1.1em;
}

.title-transacoes{
    font-weight: 600;
    background-color: #aa95ce;
    color: white;
    font-size: 1.1em;
    border-radius: 5px 5px 0px 0px;
}

.card[_ngcontent-drm-c3] {
    border: 1px solid grey;
    border-radius: 7px;
    padding: 2%;
}

label{
    display: inline-block;
    margin-bottom: .5rem;
}

.form-group{
    margin-bottom: 1rem;
}

.form{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.excluir{
    cursor: pointer;
    text-align: center;
    color: #f95e66;
}

.redColor{
    color: #e60e0e
}
.greenColor{
    color: #06c215
}

