<div class="row p-4">

<div class="col">
<div class="card">

    <p class="title">Nova transação</p>

    <div class="form-group" [formGroup]="formExtrato">

        <label for="transação">Tipo de transação</label>
       <select class="form"  formControlName="tipo" (change)= "consoleForm()">
        <option value="" disabled selected hidden>Selecione um tipo</option>
         <option value="Compra">Compra</option>
         <option value="Venda">Venda</option>
       </select>

        <label for="mercadoria">Nome da mercadoria</label>
        <input type="text" class="form" placeholder="Input" formControlName="nome" (change)= "consoleForm()">

        <label for="valor">Valor</label>
        <input type="text" class="form"  placeholder="R$ 0,00" 
        currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" 
        formControlName="valor" (change)= "consoleForm()">

        <div class="btn btn-primary mt-4 " (click) = "onSubmit()"> Adicionar Transação</div>
    </div>

</div>
</div>


<div class="col">
<div class="extrato">

    <p class="title">

Extrato de transações
    </p>

    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Mercadoria</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let p of page">
          <td *ngIf="p.tipo === 'Compra'"> <i class="fas fa-minus"></i> </td>
          <td *ngIf="p.tipo === 'Venda'">  <i class="fas fa-plus"></i> </td>
          <td> {{p.nome}}</td>
          <td> {{p.valor | currency:'R$' }}</td>
          </tr>
         
        </tbody>
      </table>
</div>
</div>

</div>