<div class="row p-4">

<div class="col">
<div class="card">

    <p class="title">Nova transação</p>

    <div class="form-group">

        <label for="transação">Tipo de transação</label>
       <select class="form" name="" id="">
         <option value="Compra">Compra</option>
         <option value="Venbda">Venda</option>
       </select>

        <label for="mercadoria">Nome da mercadoria</label>
        <input type="text" class="form" placeholder="Input">

        <label for="valor">Valor</label>
        <input type="text" class="form"  placeholder="R$ 0,00">

        <div class="btn btn-primary mt-4 "> Adicionar Transação</div>
    </div>

</div>
</div>


<div class="col">
<div class="extrato">

    <p class="title">

Extrato de transações
    </p>

    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First</th>
            <th>Last</th>
            <th>Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
</div>

</div>