.nav-color{
    
    background-color: #dde3f1;

  
    div {
        align-self: center;
        color:  #231f20 !important ;
        font-weight: 600;
    }
    div{
        .buttons{
            background-color:  #c6c9c5;
        }

      
    }
}
.nav-options{
    color:  #48485f !important ;
    
}