<div class="nav-color row shadow-sm ">
    <div class="col-9 pl-4">
        <i class="fas fa-money-check-alt" style = "color: blue"></i>
        Controle Financeiro
    </div>
    <div class="col buttons">
        <ul class="nav">
            <li class="nav-item box">
                <a class="nav-link nav-options" [routerLink]="['/transacoes']">Transações</a>
            </li>
            <li class="nav-item box">
                <a class="nav-link nav-options" [routerLink]="['/dashboard']" >Dashboard</a>
            </li>
        </ul>
    </div>
</div>